In [28]:
import pandas as pd
import numpy as np

In [29]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [30]:
data = pd.read_csv('GlobalLandTemperaturesByMajorCity.csv', error_bad_lines=False, sep = ",", header = 0)

C:\Users\jose\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [31]:
data

                dt  AverageTemperature  AverageTemperatureUncertainty     City        Country Latitude Longitude
0       1849-01-01              26.704                          1.435  Abidjan  Côte D'Ivoire    5.63N     3.23W
1       1849-02-01              27.434                          1.362  Abidjan  Côte D'Ivoire    5.63N     3.23W
2       1849-03-01              28.101                          1.612  Abidjan  Côte D'Ivoire    5.63N     3.23W
3       1849-04-01              26.140                          1.387  Abidjan  Côte D'Ivoire    5.63N     3.23W
4       1849-05-01              25.427                          1.200  Abidjan  Côte D'Ivoire    5.63N     3.23W
...            ...                 ...                            ...      ...            ...      ...       ...
239172  2013-05-01              18.979                          0.807     Xian          China   34.56N   108.97E
239173  2013-06-01              23.522                          0.647     Xian          China   34.56N   108.97E
239174  2013-07-01              25.251                          1.042     Xian          China   34.56N   108.97E
239175  2013-08-01              24.528                          0.840     Xian          China   34.56N   108.97E
239176  2013-09-01                 NaN                            NaN     Xian          China   34.56N   108.97E

[239177 rows x 7 columns]

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239177 entries, 0 to 239176
Data columns (total 7 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             239177 non-null  object
 1   AverageTemperature             228175 non-null  float64
 2   AverageTemperatureUncertainty  228175 non-null  float64
 3   City                           239177 non-null  object
 4   Country                        239177 non-null  object
 5   Latitude                       239177 non-null  object
 6   Longitude                      239177 non-null  object
dtypes: float64(2), object(5)
memory usage: 12.8+ MB

In [33]:
data.columns

Index(['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'City', 'Country', 'Latitude', 'Longitude'], dtype='object')

In [34]:
data = data.rename(columns = {'dt':'year','AverageTemperature':'avg_temp', 'AverageTemperatureUncertainty':'avg_temp_uncertainty', 'City':'city', 'Country':'country', 'Latitude':'lat', 'Longitude':'long' })

In [35]:
data.columns

Index(['year', 'avg_temp', 'avg_temp_uncertainty', 'city', 'country', 'lat', 'long'], dtype='object')

In [36]:
data["year"] = pd.to_datetime(data["year"], errors='coerce')

In [37]:
data["city"] = data["city"].astype('string')

In [38]:
data["country"] = data["country"].astype('string')

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239177 entries, 0 to 239176
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   year                  239177 non-null  datetime64[ns]
 1   avg_temp              228175 non-null  float64
 2   avg_temp_uncertainty  228175 non-null  float64
 3   city                  239177 non-null  string
 4   country               239177 non-null  string
 5   lat                   239177 non-null  object
 6   long                  239177 non-null  object
dtypes: datetime64[ns](1), float64(2), object(2), string(2)
memory usage: 12.8+ MB